* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 80vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: lightgray;
}

.main {
  color: white;
}